.admin {
  position: absolute;
  .admin-navbar {
    width: 50%;
    height: 20%;
    margin: 30px auto;
    display: flex;
    &:hover {
      cursor: pointer;
    }
    .admin-row {
      background-color: $admin-unselected;
      line-height: 40px;
      width: 30%;
      height: 100%;
      text-align: center;
      color: white;
      &:hover {
        background-color: $admin-unselected-hover;
      }
    }
    .admin-row.selected {
      background-color: $admin-selected;
    }
  }

  .admin-content {
    height: 80%;
    .recap-admin {
      display: flex;
      .payed_login{
        width: 50%;
        margin: 20px;
      }
      .unpayed_login{
        width: 50%;
        margin: 20px;
      }
    }
    .admin-payment {
      text-align: center;
    }
  }

    /*
   Table styling
  */
  .container-table {
    color: $white;
    width: 100%;
    margin-top: 20px;
  }
  .container-table th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
  }

  .container-table td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px $black;
    -moz-box-shadow: 0 2px 2px -2px $black;
    box-shadow: 0 2px 2px -2px $black;
  }

  .container-table {
    text-align: left;
    overflow: hidden;
    display: table;
  }

  .container-table td, .container-table th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
  }

  /* Background-color of the odd rows */
  .container-table tr:nth-child(odd) {
    background-color: #323C50;
  }
  /* Background-color of the even rows */
  .container-table tr:nth-child(even) {
    background-color: #2C3446;
  }
  .container-table th {
    background-color: #1F2739;
  }
  .container-table td:first-child { color: #FB667A; }

  .container-table tr:hover {
    background-color: #464A52;
  }

  .container-table td:hover {
    font-weight: bold;
  }

  @media (max-width: 800px) {
    .container-table td:nth-child(4),
    .container-table th:nth-child(4) { display: none; }
  }
}