@import "../../../css/colors.scss";

.container-wrapper {
  position: relative;
  margin: 15px;
  max-width: 100%;

  &::after {
    content:'';
    display: block;
    padding-bottom: 100%;
  }

  .container {
    border: solid 2px;
    border-radius: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    &.content {
      border-color: transparent;
    }

    &.one {
      border-color:$black transparent transparent transparent;
    }

    &.two {
      border-color:transparent $black transparent transparent;
    }

    &.three {
      border-color:transparent transparent $black transparent;
    }

    &.four {
      border-color:transparent transparent transparent $black;
    }
  }

  &:hover {
    .container {
      &.one, &.two, &.three, &.four {
        -webkit-animation: rotation 0.75s 1 linear;
        &.invert {
          -webkit-animation: rotation-invert 0.75s 1 linear;
        }
      }

      &.one {
        border-color:$hover-blue transparent transparent transparent;
      }

      &.two {
        border-color:transparent $hover-blue transparent transparent;
      }

      &.three {
        border-color:transparent transparent $hover-blue transparent;
      }

      &.four {
        border-color:transparent transparent transparent $hover-blue;
      }
    }

    .buttons {
      &.link-button {
        color: $hover-blue;

        .link-button-icon img {
          filter: $svg-hover-blue;
        }

        .link-button-separator {
          border-color: $hover-blue;
        }
      }
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation-invert {
  from {
    -webkit-transform: rotate(-360deg);
  }
}


.buttons {
  cursor: pointer;
  color: $simple-grey;

  &.link-button-wrapper {
    width: 200px;
    display: inline-block;
    margin: 10px;
  }

  &.link-button {
    vertical-align: middle;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    margin-top: 15%;

    .link-button-separator {
      margin: 5px auto;
      border-top: 3px solid;
      border-color: $black;
      width: 70%;
      height: 1px;

    }
    .link-button-icon {
      max-width: 40px;
      margin: 0 auto;
    }
  }

  &.simple-button {
    font-size: 1.4em;
     border-radius: 40px;
     background-color: $light-brown;
     min-width: 200px;
     padding: 10px;
     margin: 20px;
     display: inline-block;

     &:hover {
       color: $white;
       .fleche {
            filter: $svg-white;
       }
     }

     .simpleButton-container {
       display: flex;
       .simple-button-right {
         flex: 1;
         max-width: 25px;
         margin-right: 5%;
         vertical-align: middle;
       }
       .simple-button-name {
        flex: 1 auto;
        text-align: center;
       }
     }
  }
  &.simple-button-connected {
    font-size: 1.4em;
    border-radius: 40px;
    background-color: $light-green;
    min-width: 200px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    color: $white;
    &:hover {
      cursor: default;
    }
    .valid {
      vertical-align: middle;
      filter: $svg-white;
    }
    .simpleButton-container {
      display: flex;
      .simple-button-right {
        flex: 1;
        max-width: 25px;
        margin-right: 5%;
        vertical-align: middle;
      }
      .simple-button-name {
        flex: 1 auto;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}


/*
Responsive calls
 */
@media only screen and (max-width: 600px) {
  .container-wrapper {
    margin: 0;
    .container{
      margin: 0;

      &.one, &.two, &.three, &.four{
        display: none;
      }
    }

  }

  .buttons {
    &.link-button-wrapper {
      width: 60px;
    }

    &.link-button {
      margin: 5px;
      .link-button-separator{
        display: none;
      }

      .link-button-name {
        font-size: 0.8em;
      }

      .link-button-icon {
        max-width: 40px;
      }
    }

    &.simple-button {
      font-size: 1em;
      min-width: 150px;
      margin: 5px;
    }
  }
}
