@import "../../../css/colors.scss";

.information-block {
  background-color: $light-blue;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-size: 1em;

  .information-block-icon {
    img {
      width: 100px;
    }
  }

  .information-block-title {
    color: $hover-blue;
    margin: 10px 0;
    font-family: "Acumin";
    font-style: italic;
    font-weight: bold;
  }

  .information-block-text {
    text-align: justify;
    text-overflow: clip;
  }
}


.flip-block-pack {
  display: inline-block;
  perspective: 600px;
  width: 260px;
  height: 300px;
  margin: 0 3px;


  .packs-block {
    position: relative;
    display: inline-block;
    text-align: center;
    border: solid 1px $light-grey;
    width: 100%;
    height: 100%;
    box-shadow: 0 0  30px 0px $light-grey;
    transition: transform 1s;
    transform-style: preserve-3d;

    &.clicked {
      transform: rotateY(180deg);
    }

    .flip-card {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      .packs-block-name {
        font-family: "Acumin";
        font-style: italic;
        font-weight: bold;
        margin: 10px 0;
        font-size: 1.2em;
      }

      &.front {
        .packs-block-icon {
          margin: 0 auto;
          img {
            transition: all 0.5s;
            width: 100px;
          }
        }
      }

      &.back {
        transform: rotateY(180deg);
        transition-delay: 2s;
        background-color: $white;

        .packs-block-information {
          text-align: justify;
          margin-top: 10px;
          margin: 0 30px;
        }

        .packs-block-icon {
          margin: 10px auto;
          img {
            width: 40px;
          }
        }
      }
    }
  }
}
