/*
CSS station page
 */

.station {
  height: calc(100% - 25px);
  padding-top: 25px;
  background: url("../images/montagnes.svg") no-repeat;
  background-position: bottom;

  .station-title {
    width: 30%;
    margin: auto;
  }

  .station-cover {
    width: 65%;
    margin: 40px auto auto auto;
  }

  .station-info {
    position: relative;
    width: 40%;
    margin: 40px auto auto auto;
  }

  .station-background {

  }
}

/*
Responsive calls
 */
@media only screen and (max-width: 600px) {
  .station-cover {

  }
}