@import "../../../css/colors.scss";

@mixin plusButton{
    background-color: $transparent;
    background-image: url("../images/button_+.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
}
@mixin minusButton{
    background-color: $transparent;
    background-image: url("../images/button_-.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
    margin-right: 30px;
    cursor: pointer;
    border: none;
}
@media only screen and (min-width: 768px) {
    Body{
        
        .tombola{
            background-color: white;
            position: absolute;
            height:100%;
            max-width: 100%;
            opacity: 0.8;
            width: 100%;
            .halfTombolaBG{
                z-index: -1;
                position: absolute;
                width:60%;
                height: 100%;
                background: url("../images/waves.png") no-repeat;
                background-size: 100% 100%;
            }
            .headBlock{
                width:100%;
                height:33%;
                margin-top: 20px;
                .mainTitle{
                    width: 380px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .recap{
                width: 60%;
                float: left;
                .recapTitle{
                    width: 300px;
                    left: 10%;
                    position: relative;
                }
                .recapTxt{
                    color: White;
                    margin-top: 50px;
                    position: relative;
                    width: 50%;
                    left: 10%;
                    font-size: 1.2em;
                }
                ul {
                    list-style: none;
                }
            }
            .buy{
                margin-left: 55%;
                width: 400px;
                position: absolute;
                .choices{
                    margin-left: 30px;
                    width: 350px;
                    display:flex;
                    .ticket-1{
                        text-align: center;
                        margin-right: 30px;
                        width: 80px;
                        .logo {
                            background-image: url("../images/ticket_1.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;

                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                    .ticket-5{
                        text-align: center;
                        border: none;
                        margin-right: 30px;
                        width: 80px;
                        .logo {
                            background-image: url("../images/ticket_5.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;

                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                    .ticket-10{
                        text-align: center;
                        border: none;
                        width: 80px;
                        .logo {
                            background-image: url("../images/ticket_10.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;
                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                }
                #achat{
                    visibility: hidden;
                    position: relative;
                    left: calc(50% - 145px);
                    div{
                        visibility: visible;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    Body{
        .tombola{
            background-color: white;
            position: absolute;
            height: 100%;
            max-width: 100%;
            opacity: 0.8;
            width: 100%;
            .halfTombolaBG{
                z-index: -1;
                position: absolute;
                width:100%;
                height: 65%;
                min-height: 390px;
                background: url("../images/wavesRotated.png") no-repeat;
                background-size: 100% 100%; 
            }
            .headBlock{
                width:100%;
                margin-top: 20px;
                .mainTitle{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .recap{
                br {
                    display: none;
                }
                width: 100%;
                .recapTitle{
                    width: 40%;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                }
                .recapTxt{
                    color: White;
                    margin-top: 20px;
                    position: relative;
                    width: 50%;
                    left: 10%;
                    font-size: 1.2em;
                }
                ul {
                    list-style: none;
                }
            }
            .buy{
                .choices{
                    .ticket-1{
                        text-align: center;
                        width: 80px;
                        position: relative;
                        left: calc(50% - 40px);
                        .logo {
                            background-image: url("../images/ticket_1.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;

                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                    .ticket-5{
                        text-align: center;
                        border: none;
                        width: 80px;
                        position: relative;
                        left: calc(50% - 40px);
                        .logo {
                            background-image: url("../images/ticket_5.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;

                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                    .ticket-10{
                        text-align: center;
                        border: none;
                        width: 80px;
                        position: relative;
                        left: calc(50% - 40px);
                        .logo {
                            background-image: url("../images/ticket_10.svg");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            width: 80px;
                            height: 80px;
                        }
                        .plus{
                            @include plusButton();
                        }
                        .minus{
                            @include minusButton();
                        }
                    }
                }
                #achat{
                    width: 260px;
                    position: relative;
                    left: 25%;
                }
            }
        }
    }
}