@media only screen and (min-width: 980px) {
  .shotgun {
    text-align: center;
    height: 100%;
    .shotgun-date {
      position: absolute;
      top: 40%;
      left: 40%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-time {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-news {
      position: absolute;
      top: 60%;
      left: 40%;
      transform: perspective(1px) translateY(-50%);
    }
  }
  .real-shotgun {
    position: relative;
    .shotgun-form {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
      margin: -10% 0 0 -25%;
      .input__field {
        margin: auto;
      }
      .button-shotgun {
        width: 100%;
        .buttons.simple-button {
          max-width: 150px;
          margin: 10px auto;
          display: block;
        }
      }
      .shotgun-result {
        margin: auto;
        width: auto;
        text-align: center;
      }
    }
    .canvas-container {
      background-color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .shotgun {
    text-align: center;
    .shotgun-date {
      position: absolute;
      top: 40%;
      left: 35%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-time {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-news {
      position: absolute;
      top: 60%;
      left: 1%;
      transform: perspective(1px) translateY(-50%);
    }
  }
  .real-shotgun {
    position: relative;
    .shotgun-form {
      position: absolute;
      top: 50%;
      left: 25%;
      height: 50%;
      width: 50%;
      .input__field {
        margin: auto;
        width: auto;
      }
      .button-shotgun {
        width: 100%;
        .buttons.simple-button {
          min-width: auto;
          margin: 10px auto;
          display: block;
        }
      }
      .shotgun-result {
        margin: auto;
        width: auto;
      }
    }
    .canvas-container {
      background-color: white;
    }
  }
}