@media only screen and (min-width: 980px) {
  .shotgun {
    text-align: center;
    height: 100%;
    .shotgun-date {
      position: absolute;
      top: 40%;
      left: 44%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-time {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-news {
      position: absolute;
      top: 60%;
      left: 35%;
      transform: perspective(1px) translateY(-50%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .shotgun {
    text-align: center;
    .shotgun-date {
      position: absolute;
      top: 40%;
      left: 35%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-time {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: perspective(1px) translateY(-50%);
    }
    .shotgun-news {
      position: absolute;
      top: 60%;
      left: 1%;
      transform: perspective(1px) translateY(-50%);
    }
  }
}