.accueil-container {
  position: relative;
  .accueil-presentation {
    position: relative;
    margin-bottom: 50px;
    background-image: url("../images/aurore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    text-align: center;

    .accueil-loup {
      width: 100%;
      position: relative;
      visibility: hidden;

      &.absolute {
        visibility: visible;
        position: absolute;
        left: 0;
        bottom: -12%;
      }
    }

    .accueil-title {
      text-align: center;
      .skiutc-title {
        display: block;
        margin: 0 auto;
        width: 30%;
        margin-top: 10px;
      }

      .station-title {
        display: block;
        margin: 0 auto;
        width: 20%;
      }
    }
  }
  .accueil-navigation {
    width: 100%;
    text-align: center;
  }

  .accueil-user {
    width: 100%;
    text-align: center;
    margin-bottom:50px;
  }
}

/*
Responsive calls
 */
@media only screen and (max-width: 600px) {
  .accueil-container {
    .accueil-presentation {
      .accueil-title {
        .skiutc-title {
          width: 70%;
        }

        .station-title {
          width: 40%;
        }
      }
    }

    .accueil-navigation {
      margin-bottom: 40px;
    }
    .accueil-user {
      margin-bottom: 0;
      margin-top: 25px;
    }
  }
}
