$black : #000000;
$white : #FFFFFF;
$simple-grey : #303030;
$hover-blue: #016e8b;
$svg-hover-blue: invert(27%) sepia(40%) saturate(3102%) hue-rotate(167deg) brightness(94%) contrast(99%);
$brown: #8e5526;
$light-brown:  	#FFCC66;
$hover-light-brown: #fff5ca;
