.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

/*
Loader Styles
 */
.loader{
  display: flex;
  align-items: center;
  overflow: auto;
}

.loader-container{
  margin: auto;
}