.page-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    object {
      max-width: 60%;
    }
}

@media only screen and (max-width: 600px) {
  .page-title {
    object {
      max-width: 100%;
    }
  }
}
